.App-header {
  background-color: #081c30;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
h2{
  margin: 5px 0;
}

.App {
  background-color: #22274e;
}
.searchBarWrapper {
  position: relative;
  padding: 0 15px;
  transition: color 0.25s ease-in-out 0s;    
    display: block;   
    top: 0px;
    left: 0px;   
    color: rgb(10, 38, 67);
    border: 5px solid currentcolor;
    border-radius: 5px;
    background-color: currentcolor;
}
form.searchForm{
  
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}
.searchIcon {
  display: inline-block;
  outline: 0;
  position: relative;
  overflow: visible;
  background: none;
  color:aliceblue;    
  margin: 0px;
  border: 0px;
  padding: 0px;
  
}
.searchIcon::before {
  content: '';
  border: 1px solid transparent;
  display: block;
  width: 100%;
  height: 100%;
  min-width: 40px;
  max-width: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.searchIcon__searchIconOpen {
  height: 14px;
}
.searchIcon__searchIconOpen {
  display: block;  
  color: #e6e6e6;
  text-align: center;
  pointer-events: none;
  width: auto;
  height: 16px;
}
.searchIcon__searchIconOpen svg {
  display: inline-block;
  width: auto;
}
.searchIcon svg {
  width: 14px;
  
}
.input {
  font-size: 14px;
  -webkit-letter-spacing: 0.2px;
  -moz-letter-spacing: 0.2px;
  -ms-letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  line-height: normal;
  color: rgb(245,245,245);
  width: 100%;
  min-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 20px;
  padding: 12px 5px;
  background-color: initial;
  border: 0px;
    padding: 0px;
    display: inline-block;
}
.searchBar-close {
  display: inline-block;
  outline: 0;
  position: relative;
  overflow: visible;
  visibility: hidden;
}
.searchBar-inputWrapper {
  display: flex;
  width: 100%;
}

.searchBarWrapper:focus-within {
  color: rgb(12, 59, 106);
  transition-duration: 0s;
}
:focus-visible {
  outline: none
}


.form-select {
  background-color: rgb(12, 59, 106);;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
 
 
}

@media screen   and (max-width: 720px){
  
  .App-header {
   
    flex-direction: column;
   
}
}

#main.main{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
 
}


.resultBarWrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.content-info{
 width: 256px;
  min-height: 180px;
  position: relative;
}
.info_header{
  margin-top: 5px;
  display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff
}
.resultBarWrapper .card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem 5px;
  min-height: 201px;
  background-color: #373d6c;
  border-radius: 10px;
  padding-bottom: 30px;
}
.resultBarWrapper .image {
  display: flex;
  justify-self: center;
  justify-content: center;
  min-height: 100px;
  margin-top: 14px;
}
.resultBarWrapper .image img {
  border-radius: 50%;
}
.cards{
  
}
.content-info .btn{
  position: absolute;
  bottom: -18px;
  right: 14px;
  }


.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;  
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.info_type{
  font-size: 14px;
    color: #ababab;
    text-transform: capitalize;
}
.info_header>div{
  margin-top: 5px;
}
.loading{
  color: #fff;
}